* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    background-color: #eaeaea;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #505050;
}

a {
    text-decoration: none;
    color: white;
    transition: all .2s ease-out;
}

.header .navbar ul li a:hover {
    color: #4778A0;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #161616;
    position: fixed;
}

.header .navbar h1 {
    margin-left: 245px;
    color: white;
    font-size: 1.5rem;
}

.header .navbar ul {
    list-style: none;
    display: flex;
    margin-right: 245px;
}

.header .navbar ul li {
    margin-left: 16px;
    color: white;
    font-size: 0.9rem;
}

.main {
    height: 100%;
    width: 100%;
}

.selecao {
    height: 95%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 63px;
    background-image: url(../assets/Imagens-Jogos/background-selecao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.selecao h1 {
    color: white;
}

.selecao .cards {
    width: 60%;
    display: flex;
    justify-content: center;
}

.cards .card {
    border-radius: 20px;
    height: 500px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.card h2 {
    text-align: center;
}

.card .botoes {
    display: flex;
    justify-content: center;
}

.card .botoes button:nth-child(1) {
    margin-right: 8px;
}

.card .botoes button:nth-child(2) {
    margin-left: 8px;
}

.card .botoes button {
    width: 160px;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    background-color: #161616;
    color: #eaeaea;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .2s ease-out;
}

button:hover {
    transform: scale(1.06);
    background-color: #eaeaea;
    color: #161616;
}

.jogo1 {
    display: flex;
    align-items: center;
    background-color: #414856;
}

.jogo1 h2 {
    color: white;
}

.jogo1 .capaV {
    margin-top: 10px;
    margin-bottom: 10px ;
    background-image: url(../assets/Imagens-Jogos/capa_jogo_O_Viajante.jpg);
    background-size: cover;
    height: 100vh;
    width: 16.2vw;
}

.jogo1 button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    background-color: #516878;
    color: #eaeaea;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .2s ease-out;
}

.jogo1 button:hover {
    transform: scale(1.06);
    background-color: #628B96;
    color: #161616;
}

.jogo2 {
    background-color: white;
}

.sobre-jogos {
    height: 50%;
}

.sobre-jogos .descricao {
    padding: 30px;
}

.sobre-jogos #hist_curta {
    background-color: #4778A0;
    height: 100%;
    display: flex;
}

.sobre-jogos #hist_curta .coluna1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.sobre-jogos #hist_curta .coluna1 h2 {
    align-self: flex-start;
    font-size: 1.7rem;
    margin-left: 16px;
}

.sobre-jogos #hist_curta .coluna1 p {
    padding: 20px;
    font-size: 1.1rem;
}

.sobre-jogos #hist_curta .coluna1 button {
    margin-left: 20px;
}

.sobre-jogos #hist_curta .coluna2 {
    width: 50%;
}