/* 
Cores do site:
Preto: #161616
Branco: #eaeaea
*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 80px;
}

html, body {
    height: 100%;
    background-color: #eaeaea;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #505050;
}

a {
    text-decoration: none;
    color: white;
    transition: all .2s ease-out;
}

.header .navbar ul li a:hover {
    color: #c99156;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 99%;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #161616;
    position: fixed;
}

.header .navbar h1 {
    margin-left: 245px;
    color: white;
    font-size: 1.5rem;
}

.header .navbar ul {
    list-style: none;
    display: flex;
    margin-right: 245px;
}

.header .navbar ul li {
    margin-left: 16px;
    color: white;
    font-size: 0.9rem;
}

.header .container {
    display: flex;
    background: linear-gradient(60deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.90) 100%), url('../assets/Imagens-Home/img-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container .coluna1 {
    width: 50%;
}

.container .coluna2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white
}

.container .coluna2 p {
    width: 400px;
    font-size: 1.2rem;
    margin-top: 28px;
}